//====================================================================================================

.footer {
	background-color: $mainDarkColor;

		&__text {
		}
}
.text-footer {
	@include adaptiveValue("padding-top", 60, 40);
	@include adaptiveValue("padding-bottom", 60, 40);
	background: url('@img/Footer/bg.png') top / cover no-repeat;

		&__container {
		}

		&__title {
			text-align: center;
			font-weight: 700;
			@include adaptiveValue("font-size", 30, 24);
			line-height: math.div(46, 30);
			color: $orangeColor;
			&:not(:last-child) {margin-bottom: em(30, 30);}
		}

		&__text {
			color: #fff;
			@include adaptiveValue("font-size", 18, 16);
			line-height: math.div(27, 18);

			p {
				&:not(:last-child) {margin-bottom: rem(40);}
			}
		}
}

.body-footer {
	display: grid;
	@include adaptiveValue("gap", 35, 25);
	@include adaptiveValue("padding-top", 100, 40);
	@include adaptiveValue("padding-bottom", 49, 40);

		&__row {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
			column-gap: rem(40);
			@include adaptiveValue("row-gap", 40, 20);
			&:not(:last-child) {
				padding: 0 0 rem(30) 0;
				border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			}
		}

		&__bottom {
			color: rgba(255, 255, 255, 0.8);
			font-size: rem(14);
			line-height: math.div(27, 14);
			@media (min-width:em(1200)){
				display: flex;
				justify-content: space-between;
				gap: rem(20);
			}
		}

		&__rules {
			max-width: rem(820);
		}

		&__copyright {
			span {
				white-space: nowrap;
			}
		}
}
.item-footer {

		&__spoller {
		}
}
.spoller-item-footer {

		&__title {
			text-transform: uppercase;
			color: #fff;
			font-weight: 600;
			line-height: math.div(22, 18);
			._spoller-init & {
				display: flex;
				justify-content: space-between;
				gap: rem(10);
				width: 100%;
				&::after{
					content:'\e901';
					font-size: rem(8);
					margin: em(5, 8) 0 0 0;
					transition: transform 0.3s ease 0s;
					@extend %ic;
				}
				&._spoller-active {
					&::after{
						transform: rotate(-180deg);
					}
				}
			}
		}

		&__body {
			@include adaptiveValue("padding-top", 30, 20);
			@include adaptiveValue("padding-bottom", 30, 20);
		}

		&__text {
			max-width: rem(318);
			line-height: math.div(27, 18);
			color: #fff;
			a {
				color: $orangeColor;
				@media (any-hover: hover){
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
}
.spoller-item-footer {

		&__item {
		}
}
.menu-footer {
	&:not(:last-child) {@include adaptiveValue("margin-bottom", 32, 20);}

		&__item {
			display: flex;
			color: rgba(255, 255, 255, 0.8);
			line-height: 1.5;
			&:not(:last-child) {margin-bottom: em(20, 18);}
			&::before{
				font-size: rem(19);
				margin: em(5, 15) em(10, 15) 0 0;
			}
			&._icon-letter {
				&::before{
					font-size: rem(13);
				}
			}
		}

		&__link {
			display: inline-flex;
			color: rgba(255, 255, 255, 0.8);
			line-height: math.div(27, 18);
			&::before{
				font-size: rem(20);
				margin: em(5, 15) em(10, 15) 0 0;
			}
		}
}
.social-footer {
	display: flex;
	gap: rem(24);
}

.footer-subscribe {

		&__label {
			display: block;
			color: #fff;
			line-height: math.div(22, 18);
			&:not(:last-child) {margin-bottom: em(10, 18);}
		}

		&__line {
			display: flex;
			position: relative;
			.form__error {
				position: absolute;
				bottom: -15px;
				font-size: rem(10);
				color: red;
			}
		}

		&__input {
			background: rgba(255, 255, 255, 0.05);
			height: rem(48);
			padding: 0 rem(20);
			color: #fff;
			width: 100%;
			border-radius: rem(3) 0 0 rem(3);
			border: 1px solid #fff;
			border-right: none;
		}

		&__button {
			display: flex;
			flex: 0 0 50px;
			justify-content: center;
			align-items: center;
			background-color: $orangeColor;
			border-radius: 0 rem(3) rem(3) 0;
			&::before{
				color: #fff;
				transform: rotate(-90deg);
				font-size: rem(8);
			}
		}
}

//====================================================================================================
